# Sandbox
/.sandbox

# Byte-compiled / optimized / DLL files
*.py[cod]

# Build artifacts
/build
/docs/_build
/dist
/stencila.egg-info
/.tox
/.coverage
/coverage.xml
/.cache

# Editor files
*.sublime-workspace
