language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

cache: pip

install:
  - pip install setuptools wheel tox tox-travis
  - wget https://github.com/jgm/pandoc/releases/download/1.17.2/pandoc-1.17.2-1-amd64.deb
  - sudo dpkg -i pandoc-1.17.2-1-amd64.deb

script:
  - tox

after_success:
  - |
    if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then
      tox -e cover;
      sed -i "s!.tox/cover/lib/python2.7/site-packages/stencila/!!g" coverage.xml;
      bash <(curl -s https://codecov.io/bash);
    fi

notifications:
  webhooks:
    urls:
      - secure: "c7sJb5i92rK48bkT/JEqjyrznBfLUAHcPr7vXTuFZGX5jn/g0tssCtsDiN08mvULuIJF2F2av/8SF9R2cSpeKkC69I9+YUn+uItq4zFISxzh7q3QfcWvQnbizCkjVDU+AxsTf4m9Kq3eatxwPNuAxRc6PGeaYQ5/NeMYFDkYGCk=" # Gitter
