language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

cache: pip

install:
  - make setup-travis

script:
  - pylint stencila || true
  - make test

after_success:
  - |
    if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then
      make cover
      bash <(curl -s https://codecov.io/bash);
    fi

notifications:
  webhooks:
    urls:
      - secure: "c7sJb5i92rK48bkT/JEqjyrznBfLUAHcPr7vXTuFZGX5jn/g0tssCtsDiN08mvULuIJF2F2av/8SF9R2cSpeKkC69I9+YUn+uItq4zFISxzh7q3QfcWvQnbizCkjVDU+AxsTf4m9Kq3eatxwPNuAxRc6PGeaYQ5/NeMYFDkYGCk=" # Gitter
